$base-wrapper-first-max-width: 1320px;
$base-wrapper-second-max-width: 1020px;

$adaptive-first-point: 1400px;
$adaptive-second-point: 1200px;
$adaptive-third-point: 992px;
$adaptive-fourth-point: 768px;
$adaptive-fifth-point: 576px;
